body {
  background: #111;
  color: #0f0;
  font-family: Consolas, monospace;
  padding: 20px;
}

h1, h2 {
  color: #0f0;
  margin-bottom: 10px;
}

section {
  margin-bottom: 30px;
}

.box {
  border: 1px solid #0f0;
  padding: 10px;
  min-height: 60px;
  margin-bottom: 10px;
}

button {
  background: black;
  color: #0f0;
  border: 1px solid #0f0;
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  background: #0f0;
  color: black;
}

#story-wrapper {
  display: flex;
  justify-content: center;
  z-index: 0;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  height: 300px;
}

#sceneImage {
  rotate: 0;
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: none;
  position: absolute;
  left: 0;
  top: 0;
  transform: none;
}

#storyBox {
  position: absolute;
  left: 330px;
  top: 0;
  width: 50%;
  min-height: 280px;
  transform: none;
}

#wheelPointer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  z-index: 2;
  pointer-events: none;
}

#wheelImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  z-index: 1;
  transform: rotate(0deg);
  transform-origin: center center;
  transition: transform 5s cubic-bezier(0.15, 0.85, 0.35, 1);
}

#wheelWrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  pointer-events: auto;
  transform: none;
  z-index: 0;
}
